body{
    font-family: Lato;
    margin: 0;
}
.header nav{
    background-color: transparent !important;
}
.header nav ul li{
    margin: 30px 50px 0px 50px;
    /* text-align: center; */
   
}
.header nav ul li a{
    text-decoration: none;
    color: #43D9BD;
    font-weight: 900;
    cursor: pointer;
    padding: 0px 50px 0px 50px;
    border-bottom: .25rem solid #43D9BD;
    text-align: center;
} 
.header nav ul li a:hover{
    color: #F2B705;
    border-bottom: .25rem solid #F2B705;
}
.skillrings{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
}
.card-link{
    color: #43D9BD !important;
}
.cardUXUI-text{
    text-align: left;
    margin-top: 1rem;
}
.headingLeft{
    /* text-align: center; */
    /* width: 150px;
    position: absolute; */
}
.skillrings li{
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
.navbar-light .navbar-toggler{
    color:#43D9BD;
}
.cover{
    background-image: url(../asset/photo-1519389950473-47ba0277781c.jpg);
    background-color: black;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.navbar-light .navbar-toggler-icon{
    background-image:none !important;
}
main{
    position: absolute;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-top: 20%;
}
.myname{
    font-size: 78px;
    color:#43D9BD;
    font-family: 'Knewave', cursive;
}
.intropra{
    color: white;
    font-size: 18px;
}
.scroll{
    width: 50px;
    height: 50px; 
}
.scrolla{
    position: absolute;
    margin-top: 250px;
    animation-name: bounceArrow;
  animation-duration: .7s;
  animation-iteration-count: infinite;
    /* color: white; */
}
@keyframes bounceArrow {
    from {
      margin-top: 250px;
    }
    to {
      margin-top: 257px;
    }
  }

.section{
    margin: 0;
    width: 100%;
    /* height: 100vh; */
}
section h1{
    font-family: 'Knewave', cursive;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    margin-top: 40px;
}
.aboutme{
    background-color:white;
    
}
.aboutmeContent{
    /* padding-left: 350px; */
    padding: 20px 400px 20px 400px;
    text-align: center;
    /* max-width: 950px; */
  /* display: grid;
    grid-template-columns:30% 1fr;
    grid-template-rows: 26% 1fr;
    grid-template-areas: 
    "img intro"
    "img skills";
    column-gap: 80px; */
}
.intro{
    /* grid-area:intro; */
    text-align: left;
}
.meimage{
    padding: 20px;
    width: 400px;
    /* padding: 0px 50px 100px 100px; */
    /* grid-area: img; */
}
.skill{
    /* grid-area:skills; */
    /* width: 700px; */
}
.work h2{
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.work h4{
    text-align: center;
    padding: 20px;
}
.worklist{
    width: 100%;
    text-align: center;
    max-width: 640px;
}
.frontendworklist{
    width: 100%;
    text-align: center;
    max-width: 960px;
}
.frontendworklist h4{
    padding: 15px;
    color: white;
}
.frontendworklist h2{
    color:white;
}
.work{
    background-color: #401404;
}
.work h4{
    color:white;
}
.work h2{
    color:white;
}
.work h1{
    color: white;
}
.resume{
    background-color: white;
    
}
.resumeContent{
    padding: 0px 250px 100px 250px;
    text-align: center;
}
.meimage2{
    width: 100%;
    grid-area: img2;
}
.roadmap.roadmap--orientation-auto .roadmap__events:after{
    background-color:#43D9BD !important;
}
.roadmap.roadmap--orientation-auto .roadmap__events__event:before{
    background-color:#43D9BD !important;
}
.roadmap.roadmap--orientation-auto .roadmap__events__event:after{
    background-color:#43D9BD !important;
}
.resumeintro{
    padding-top:50px;
    padding-bottom: 50px;
    text-align: left;
}
.resumebutton{
    appearance: none;
    background-color: #43D9BD;
    border-width: 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Lato,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}
.resumebutton:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #F2B705;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
  }
  
  .resumebutton:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .resumebutton:after {
    background-color: #F2B705;
  }
  
  .resumebutton span {
    z-index: 1;
    position: relative;
  }
.contact{
    background-color: #401404;
    color: white;
    /* height: 90vh; */
}
.contactContent{
    /* padding-left: 350px; */
    text-align: center;
}
.contact h3{
    text-align: center;
}
form{
    width: 50%;
    position: absolute;
}
label{
    padding: 10px;
}
.contactintro{
    padding: 0px 350px 30px 350px;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;
}
.contactintro svg{
   margin: 5px;
}
.footer{
    width: 100%;
    height: 150px;
    color: white;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .header{
        position: absolute;
    }
    .header nav{
        /* background-color: black !important; */
        
    }
    .header nav ul li {
        text-align: end;
    }
    .aboutme{
        height: 100%;
    }
    .scrolla{
        position: absolute;
        margin-top: 50px;
        margin-left: -15px;
        animation-name: bounceArrow;
      animation-duration: .7s;
      animation-iteration-count: infinite;
        /* color: white; */
    }
    @keyframes bounceArrow {
        from {
          margin-top: 50px;
        }
        to {
          margin-top: 57px;
        }
      }
      .aboutme{
        padding: 0px;
      }
    .aboutmeContent{
        /* padding-left: 350px; */
      display: grid;
      padding: 50px;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr 200px 50px;
        grid-template-areas: 
        "img"
        "intro"
        "skills"
        "socialmedia";
        /* column-gap: 80px; */
    }
    .intropra{
        width: 100%;
    }
    .intro{
        width:100%;
    }
    .meimage{
        grid-area: img;
        width: 100%;
    }
    .worklist{
        display: grid;
        margin: 0;
        padding: 0;
    }
    .work{
        height: 100%;
    }
    .resume{
        height: 100%;
        padding:0px;
    }
    .resumeContent{
        /* padding-left: 350px; */
        padding: 50px;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr 70px;
        grid-template-areas: 
        "img2"
        "resumeintro"
        "download";
        column-gap: 0px;
    }
    .resumeintro{
        width: 100%;
    }
    .resumebutton{
        width: 100%;
    }
    .contactContent{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "form"
        "contactinfo"
    }
    .contactform{
        grid-area: form;
        position: relative;
    }
    form{
        width: 100%;
        position: relative;
    }
    .contactintro {
        grid-area: contactinfo;
        position: relative;
        width: 100%;
    }
}